{% extends "layout.html" %}

{% block body %}

<h1 align="center">Register</h1>
<form action="{{ url_for('register') }}" class="container" method="post">
 <div class="container">
    <label for="username"><b>Username: </b></label>
    <input type="text" placeholder="Username" name="username" required>
    </br>
    <label  for="Email"><b>Email:      </b></label>
    <input type="text" placeholder="Email" name="email" required>
    </br>
    <label for="Password"><b>Choose Password:</b></label>
    <input type="text" placeholder="Choose password" name="password" required>
    </br>

    <button type="submit">Sign Up</button></br>

    <a href="{{url_for('login')}}"> <button type="button">Back to Login</button></br></a>

  </div>


</form>

{% endblock %}
