<!DOCTYPE html>
<html>
<title>Register</title>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<!--<link rel="stylesheet" type="text/css" href="C:/Users/Gaddipati Monica/flaskProject/application/static/css/styles.css">-->
<body >
<h1 style="font-size:40px;text-align:Center"> <strong>BAVARCHI </strong></h1>
<h1 align="center">Register</h1>
<form action="{{ url_for('register') }}" class="container" method="post">
 <div class="container">
    <label for="username"><b>Username: </b></label>
    <input type="text" placeholder="Username" name="username" required>
    </br>
    <label  for="Email"><b>Email:      </b></label>
    <input type="text" placeholder="Email" name="email" required>
    </br>
    <label for="Name"><b>Name:         </b></label>
    <input type="text" placeholder="Name" name="name" required>
    </br>
    <label for="Phone Number"><b>Phone Number:</b></label>
    <input type="text" placeholder="Phone Number" name="pnumber" required>
    </br>
    <label for="Password"><b>Choose Password:</b></label>
    <input type="text" placeholder="Choose password" name="password" required>
    </br>
    <label for="Cpassword"><b>Confirm Password:</b></label>
    <input type="text" placeholder="Confirm password" name="cpassword" required>
    </br>
    <button type="submit">Sign Up</button></br>

  </div>


</form>
</body>
